/* CLASS SELECTOR */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.white-box {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 450px;
    margin: 150px auto 100px auto;
    border-radius: 20px;
}

.qr-code {
    width: 90%;
    margin: 12.5px 12.5px auto 12.5px;
    border-radius: 10px;
}

.heading {
    font-weight: 700;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    color: hsl(218, 44%, 22%);
    margin-bottom: 0px;
}

.description {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;
}

/* TAG SELECTOR */

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    text-align: center;
}